:root {
    --bar-min-width: 400px;
    --bar-max-width: 90vw;
    --bar-width: 40vw;
    --bar-width-expanded: 60vw;
    --bar-background: rgba(0, 0, 0, 0.8);
    --footer-background: rgba(0, 0, 0, 0.8);
    --color-shadow: rgba(255, 255, 255, 0.7);
    --color-light-text: rgba(255, 255, 255, 0.6);
    --color-light-text-hover: rgba(255, 255, 255, 0.8);
    --color-icon-bg: rgba(255, 255, 255, 0.2);
    --color-icon-bg-hover: rgba(255, 255, 255, 0.4);
    --color-border: rgba(255, 255, 255, 0.2);
    --color-item-highlighted: rgba(255, 255, 255, 0.15);
    --color-item-hover: rgba(255, 255, 255, 0.1);
    --border-radius-bar: 0.6rem;
    --border-radius-item: 0.4rem;
    --icon-size: 1.125em;
}

.commandBar {
    backdrop-filter: blur(10px);
    background: var(--bar-background);
    border-radius: var(--border-radius-bar, 5);
    border: 1px solid var(--color-border);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    flex-direction: column;
    left: 50%;
    margin: 0;
    max-width: var(--bar-max-width);
    min-width: var(--bar-min-width);
    overflow: hidden;
    position: absolute;
    padding: 0;
    top: 50%;
    translate: -50% -50%;
    width: var(--bar-width);
    pointer-events: all;
    transition: width 0.1s ease-out;
}

.commandBar.hasResults {
    width: var(--bar-width-expanded);
}

.commandBar small {
    color: var(--color-light-text);
    font-size: 90%;
}

.resultsWrap {
    display: grid;
    grid-template-rows: 0fr;
    transform-origin: top center;
    transition: grid-template-rows 0.2s ease-in;
}

.resultsWrap > * {
    opacity: 0;
}

.resultsWrap.expanded {
    grid-template-rows: 1fr;
}

.resultsWrap.expanded > * {
    opacity: 1;
    padding: 0.5rem;
}
.resultsWrap.split {
    grid-template-columns: 1fr 1fr;
}
