.commandListItem {
    cursor: pointer;
    display: flex !important; /* Necessary due to the neos header bar styling */
    gap: 1em;
    padding: 0.4rem 0.6rem;
    align-items: baseline;
    border-radius: var(--border-radius-item);
    transition: background-color 0.1s ease-in-out;
    background-color: transparent;
    user-select: none;
}

.commandListItem:hover {
    background-color: var(--color-item-hover);
}

.highlighted {
    background-color: var(--color-item-highlighted);
}

.label {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    gap: 0 1em;
    align-items: baseline;
}
