.commandListItem {
    cursor: pointer;
    display: flex !important; /* Necessary due to the neos header bar styling */
    gap: 1em;
    padding: 0.4rem 0.6rem;
    align-items: baseline;
    border-radius: var(--border-radius-item);
    transition: background-color 0.1s ease-in-out, opacity 0.1s ease-in-out;
    background-color: transparent;
    user-select: none;
    --icon-size: 0.875em;
}

.commandListItem:hover {
    background-color: var(--color-item-hover);
}

.highlighted {
    background-color: var(--color-item-highlighted);
}

.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.label {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    gap: 0.2em 1em;
    align-items: baseline;
}

.description {
    white-space:pre-wrap;
    font-size: 0.9em;
}

.type {
    max-width: 30%;
}

.favouriteButton {
    visibility: hidden;
    border: none;
    background: none;
    cursor: pointer;
    transition: color 0.1s ease-in-out;
    color: var(--textSubtleLight);
    align-self: baseline;
    padding: 0 0.3rem;
}
.favouriteButton:hover {
    color: var(--primaryBlue);
}

.commandListItem:hover .favouriteButton {
    visibility: visible;
}

.isFavourite {
    display: block;
    color: var(--primaryBlue);
}
