.CommandBarUiPlugin-module__fullScreenLayer___1cUx4 {
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    z-index: 9999;
    display: none;
}

.CommandBarUiPlugin-module__open___1Bjxj {
    display: block;
}

.CommandBarUiPlugin-module__commandBarToolbarComponent___1agRY {
    display: flex;
    align-items: center;
}

.CommandBarFooter-module__commandBarFooter___2mcre {
    border-top: 1px solid var(--color-border);
    background-color: var(--footer-background);
    padding: 0.8rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
}

.CommandBarFooter-module__breadcrumb___1Ul24 {
    display: flex;
    gap: 1rem;
    --icon-size: 0.875em;
}

.CommandBarFooter-module__activity___2GXJU {
    display: flex;
    gap: 1rem;
    --icon-size: 0.875em;
}

.CommandBarFooter-module__madeWithLove___zHu8L {
    display: flex;
    text-decoration: none;
}

.CommandBarFooter-module__madeWithLove___zHu8L small {
    transition: color 0.1s ease-in-out;
}

.CommandBarFooter-module__madeWithLove___zHu8L:hover small {
    color: var(--color-light-text-hover);
}

.CommandBarFooter-module__madeWithLove___zHu8L svg {
    display: inline-block;
    width: var(--icon-size);
    height: auto;
    margin-left: 0.5em;
}

.IconWrapper-module__iconWrap___1Z3nD {
    width: var(--icon-size);
    height: var(--icon-size);
    display: inline-block;
    text-align: center;
}

.IconWrapper-module__iconWrap___1Z3nD svg {
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
}

.SearchBox-module__searchBox___1SEtn {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background: none;
    border: none;
    color: currentColor;
    font-size: 1.1em !important; /* Fix to prevent Neos.UI css from forcing the font size to 14px */
    font-weight: 300;
    outline: none;
    padding: 0.5rem;
    flex: 1;
}

.SearchBox-module__searchBox___1SEtn:disabled {
    color: var(--color-light-text);
    cursor: not-allowed;
}

.SearchBox-module__expandButton___B2jYv {
    position: absolute;
    padding: 0 1rem;
    height: 100%;
    right: 0;
    display: block;
    background: none;
    border: none;
    cursor: pointer;
}

.SearchBox-module__expandButton___B2jYv svg {
    color: var(--grayLighter);
    transition: color 0.1s ease-in-out;
}

.SearchBox-module__expandButton___B2jYv:hover svg {
    color: var(--primaryBlue);
}

.CommandBarHeader-module__commandBarHeader___3Y2hR {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.3rem 0.5rem;
    border-bottom: 1px solid var(--color-border);
    position: relative;
}

.CommandBarHeader-module__backButton___1qIGu {
    padding: 0.3rem;
    background-color: var(--color-icon-bg);
    border-radius: 50%;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    border: none;
    color: white;
    cursor: pointer;
    transition: background-color 0.1s ease-in-out;
    display: flex;
}

.CommandBarHeader-module__backButton___1qIGu:hover {
    background-color: var(--color-icon-bg-hover);
}

.CommandListItem-module__commandListItem___2u7xD {
    cursor: pointer;
    display: flex !important; /* Necessary due to the neos header bar styling */
    gap: 1em;
    padding: 0.4rem 0.6rem;
    align-items: baseline;
    border-radius: var(--border-radius-item);
    transition: background-color 0.1s ease-in-out, opacity 0.1s ease-in-out;
    background-color: transparent;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
    --icon-size: 0.875em;
}

.CommandListItem-module__commandListItem___2u7xD:hover {
    background-color: var(--color-item-hover);
}

.CommandListItem-module__highlighted___1LR6R {
    background-color: var(--color-item-highlighted);
}

.CommandListItem-module__disabled___7wCym {
    opacity: 0.5;
    cursor: not-allowed;
}

.CommandListItem-module__label___1bznO {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    gap: 0.2em 1em;
    align-items: baseline;
}

.CommandListItem-module__description___2RTG3 {
    white-space:pre-wrap;
    font-size: 0.9em;
}

.CommandListItem-module__type___1C7PR {
    max-width: 30%;
}

.CommandListing-module__results___23Rve {
    min-height: 0;
    transition: opacity 0.3s ease-in;
    overflow-y: auto;
    max-height: 60vh;
    height: 100%;
}

.CommandListing-module__results___23Rve h6 {
    color: var(--color-light-text);
    margin: 0.5rem;
    font-size: 0.9em;
    font-weight: normal;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
}

.CommandListing-module__results___23Rve ul {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    margin: 0;
}

.CommandListing-module__noResults___Mb89V {
    padding: 0.5rem;
}

.CommandListing-module__disabled___6gpPj {
    opacity: 0.5 !important;
    pointer-events: none;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
}

.CommandResultsView-module__commandResultsView___xLqwb {
    max-width: 100%;
    overflow: auto;
}

.CommandResultsView-module__results___1t6jB {
    min-height: 0;
    transition: opacity 0.3s ease-in;
    overflow-y: auto;
    max-height: 60vh;
    height: 100%;
}

.CommandResultsView-module__results___1t6jB h6 {
    color: var(--color-light-text);
    margin: 0.5rem;
    font-size: 0.9em;
    font-weight: normal;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
}

.CommandResultsView-module__results___1t6jB ul {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    margin: 0;
}

.CommandResultsView-module__noResults___2ksIF {
    padding: 0.5rem;
}

.CommandResultsView-module__disabled___OmNvX {
    opacity: 0.5 !important;
    pointer-events: none;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
}

.ToggleButton-module__toggleButton___2wPs- {
    background-color: var(--grayDark);
    border: 1px solid var(--grayMedium);
    color: var(--textSubtleLight);
    border-radius: 6px;
    display: flex;
    align-items: center;
    gap: 0.5em;
    transition: 0.1s ease-out;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
    padding: 2px 0.3rem 2px 0.5rem;
    cursor: pointer;
    line-height: 1.4em;
}

.ToggleButton-module__toggleButton___2wPs-:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.ToggleButton-module__toggleButton___2wPs-:not(:disabled):hover {
    background-color: var(--grayLighter);
    color: var(--textOnWhite);
}

.ToggleButton-module__buttonIcon___UjFjw {
    background-color: var(--gray);
    border-radius: 3px;
    color: var(--textOnGray);
    font-size: 80%;
    padding: 1px 4px;
    transition: background-color 0.1s ease-out;
}

.ToggleButton-module__toggleButton___2wPs-:not(:disabled):hover .ToggleButton-module__buttonIcon___UjFjw {
    background-color: var(--primaryBlue);
}

.CommandBarDialog-module__commandBar___1Hb5s {
    -webkit-backdrop-filter: blur(var(--dialog-blur));
            backdrop-filter: blur(var(--dialog-blur));
    background: var(--bar-background);
    border-radius: var(--border-radius-bar, 5);
    border: 1px solid var(--color-border);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    flex-direction: column;
    left: 50%;
    margin: 0;
    max-width: var(--bar-max-width);
    min-width: var(--bar-min-width);
    max-height: 90vh;
    overflow: hidden;
    position: absolute;
    padding: 0;
    top: 50%;
    translate: -50% -50%;
    width: var(--bar-width);
    pointer-events: all;
    transition: width 0.1s ease-out;
}

.CommandBarDialog-module__commandBar___1Hb5s.CommandBarDialog-module__hasResults___3iM8B {
    width: var(--bar-width-expanded);
}

.CommandBarDialog-module__commandBar___1Hb5s small {
    color: var(--color-light-text);
    font-size: 90%;
}

.CommandBarDialog-module__commandBar___1Hb5s ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

.CommandBarDialog-module__commandBar___1Hb5s ::-webkit-scrollbar-track {
    background-color: transparent;
}

.CommandBarDialog-module__commandBar___1Hb5s ::-webkit-scrollbar-thumb {
    background-color: var(--grayLight);
}

.CommandBarDialog-module__commandBar___1Hb5s ::-webkit-scrollbar-corner {
    background-color: var(--grayDark);
}

.CommandBarDialog-module__resultsWrap___2gd3U {
    display: grid;
    grid-template-rows: 0fr;
    transform-origin: top center;
    transition: grid-template-rows 0.2s ease-in;
    overflow: auto;
}

.CommandBarDialog-module__resultsWrap___2gd3U > * {
    opacity: 0;
}

.CommandBarDialog-module__resultsWrap___2gd3U.CommandBarDialog-module__expanded___jby7g {
    grid-template-rows: 1fr;
}

.CommandBarDialog-module__resultsWrap___2gd3U.CommandBarDialog-module__expanded___jby7g > * {
    opacity: 1;
    padding: 0.5rem;
}

.CommandBarDialog-module__resultsWrap___2gd3U.CommandBarDialog-module__split___66TVs {
    grid-template-columns: 1fr 1fr;
}

:root {
    --bar-min-width: 600px;
    --bar-max-width: 90vw;
    --bar-width: 30vw;
    --bar-width-expanded: 60vw;
    --bar-background: rgba(0, 0, 0, 0.8);
    --footer-background: rgba(0, 0, 0, 0.8);
    --color-shadow: rgba(255, 255, 255, 0.7);
    --color-light-text: rgba(255, 255, 255, 0.6);
    --color-light-text-hover: rgba(255, 255, 255, 0.8);
    --color-icon-bg: rgba(255, 255, 255, 0.2);
    --color-icon-bg-hover: rgba(255, 255, 255, 0.4);
    --color-border: rgba(255, 255, 255, 0.2);
    --color-item-highlighted: rgba(255, 255, 255, 0.15);
    --color-item-hover: rgba(255, 255, 255, 0.05);
    --border-radius-bar: 0.6rem;
    --border-radius-item: 0.4rem;
    --icon-size: 1.125em;
    --dialog-blur: 5px;

    /* Neos UI colors */
    --grayLight: #999;
    --grayLighter: #eee;
    --grayMedium: #323232;
    --grayDark: #3f3f3f;
    --gray: #555;
    --textSubtleLight: #adadad;
    --textOnGray: #fff;
    --textOnWhite: #252525;
    --primaryBlue: #00adee;
}


/*# sourceMappingURL=Plugin.css.map*/