:root {
    --bar-min-width: 400px;
    --bar-max-width: 90vw;
    --bar-width: 40vw;
    --bar-width-expanded: 60vw;
    --bar-background: rgba(0, 0, 0, 0.8);
    --footer-background: rgba(0, 0, 0, 0.8);
    --color-shadow: rgba(255, 255, 255, 0.7);
    --color-light-text: rgba(255, 255, 255, 0.6);
    --color-light-text-hover: rgba(255, 255, 255, 0.8);
    --color-icon-bg: rgba(255, 255, 255, 0.2);
    --color-icon-bg-hover: rgba(255, 255, 255, 0.4);
    --color-border: rgba(255, 255, 255, 0.2);
    --color-item-highlighted: rgba(255, 255, 255, 0.15);
    --color-item-hover: rgba(255, 255, 255, 0.1);
    --border-radius-bar: 0.6rem;
    --border-radius-item: 0.4rem;
    --icon-size: 1.125em;
}

.CommandBar-module__commandBar___3t_V0 {
    backdrop-filter: blur(10px);
    background: var(--bar-background);
    border-radius: var(--border-radius-bar, 5);
    border: 1px solid var(--color-border);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    flex-direction: column;
    left: 50%;
    margin: 0;
    max-width: var(--bar-max-width);
    min-width: var(--bar-min-width);
    overflow: hidden;
    position: absolute;
    padding: 0;
    top: 50%;
    translate: -50% -50%;
    width: var(--bar-width);
    pointer-events: all;
    transition: width 0.1s ease-out;
}

.CommandBar-module__commandBar___3t_V0.CommandBar-module__hasResults___3NzEf {
    width: var(--bar-width-expanded);
}

.CommandBar-module__commandBar___3t_V0 small {
    color: var(--color-light-text);
    font-size: 90%;
}

.CommandBar-module__resultsWrap___ceSal {
    display: grid;
    grid-template-rows: 0fr;
    transform-origin: top center;
    transition: grid-template-rows 0.2s ease-in;
}

.CommandBar-module__resultsWrap___ceSal > * {
    opacity: 0;
}

.CommandBar-module__resultsWrap___ceSal.CommandBar-module__expanded___tNs3W {
    grid-template-rows: 1fr;
}

.CommandBar-module__resultsWrap___ceSal.CommandBar-module__expanded___tNs3W > * {
    opacity: 1;
    padding: 0.5rem;
}
.CommandBar-module__resultsWrap___ceSal.CommandBar-module__split___mpznN {
    grid-template-columns: 1fr 1fr;
}

.Icon-module__iconWrap___1tIr6 {
    width: var(--icon-size);
    display: inline-block;
    text-align: center;
}

.CommandBarFooter-module__commandBarFooter___1mMGR {
    border-top: 1px solid var(--color-border);
    background-color: var(--footer-background);
    padding: 0.8rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    user-select: none;
}

.CommandBarFooter-module__breadcrumb___2xMga {
    display: flex;
    gap: 1rem;
}

.CommandBarFooter-module__activity___1YdE7 {
    display: flex;
    gap: 1rem;
}

.CommandBarFooter-module__madeWithLove___2_GKs {
    display: flex;
}

.CommandBarFooter-module__madeWithLove___2_GKs small {
    transition: color 0.1s ease-in-out;
}

.CommandBarFooter-module__madeWithLove___2_GKs:hover small {
    color: var(--color-light-text-hover);
}

.CommandBarFooter-module__madeWithLove___2_GKs svg {
    display: inline-block;
    width: var(--icon-size);
    height: auto;
    margin-left: 0.5em;
}

.SearchBox-module__searchBox___3J8zU {
    appearance: none;
    background: none;
    border: none;
    color: currentColor;
    font-size: 1.1em;
    font-weight: 300;
    outline: none;
    padding: 0.5rem;
    flex: 1;
}

.CommandBarHeader-module__commandBarHeader___2UG9r {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.3rem 0.5rem;
    border-bottom: 1px solid var(--color-border);
}

.CommandBarHeader-module__backButton___3tZcE {
    padding: 0.3rem;
    background-color: var(--color-icon-bg);
    border-radius: 50%;
    appearance: none;
    border: none;
    color: white;
    cursor: pointer;
    transition: background-color 0.1s ease-in-out;
}

.CommandBarHeader-module__backButton___3tZcE:hover {
    background-color: var(--color-icon-bg-hover);
}

.CommandListing-module__results___ug-oG {
    min-height: 0;
    transition: opacity 0.3s ease-in;
    overflow-y: auto;
    max-height: 60vh;
}

.CommandListing-module__results___ug-oG h6 {
    color: var(--color-light-text);
    margin: 0.5rem;
    font-size: 0.9em;
    font-weight: normal;
    user-select: none;
}

.CommandListing-module__results___ug-oG ul {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    margin: 0;
}

.CommandListing-module__noResults___2zw8Z {
    padding: 0.5rem;
}

.CommandListItem-module__commandListItem___PbP5Z {
    cursor: pointer;
    display: flex !important; /* Necessary due to the neos header bar styling */
    gap: 1em;
    padding: 0.4rem 0.6rem;
    align-items: baseline;
    border-radius: var(--border-radius-item);
    transition: background-color 0.1s ease-in-out;
    background-color: transparent;
    user-select: none;
}

.CommandListItem-module__commandListItem___PbP5Z:hover {
    background-color: var(--color-item-hover);
}

.CommandListItem-module__highlighted___ww9c6 {
    background-color: var(--color-item-highlighted);
}

.CommandListItem-module__label___3g_nM {
    display: flex;
    flex-wrap: wrap;
    gap: 0 1em;
    align-items: baseline;
}

.CommandResultsView-module__commandResultsView___2_3i- {
    max-width: 100%;
    overflow: auto;
}

.CommandBarUiPlugin-module__fullScreenLayer___1cUx4 {
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    z-index: 9999;
    display: none;
}

.CommandBarUiPlugin-module__open___1Bjxj {
    display: block;
}


/*# sourceMappingURL=Plugin.css.map*/