.commandListItem {
    cursor: pointer;
    display: flex;
    gap: 1em;
    padding: 0.4rem 0.6rem;
    align-items: baseline;
    border-radius: var(--border-radius-item);
    transition: background-color 0.1s ease-in-out;
    background-color: transparent;
    user-select: none;

    &:hover {
        background-color: var(--color-item-hover);
    }
}

.highlighted {
    background-color: var(--color-item-highlighted);
}
