.commandBar {
    backdrop-filter: blur(10px);
    background: var(--bar-background);
    border-radius: var(--border-radius-bar, 5);
    border: 1px solid var(--color-border);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    flex-direction: column;
    left: 50%;
    margin: 0;
    max-width: var(--bar-max-width);
    min-width: var(--bar-min-width);
    overflow: hidden;
    position: absolute;
    padding: 0;
    top: 50%;
    translate: -50% -50%;
    width: var(--bar-width);
    pointer-events: all;
    transition: width 0.1s ease-out;
}

.commandBar.hasResults {
    width: var(--bar-width-expanded);
}

.commandBar small {
    color: var(--color-light-text);
    font-size: 90%;
}

.resultsWrap {
    display: grid;
    grid-template-rows: 0fr;
    transform-origin: top center;
    transition: grid-template-rows 0.2s ease-in;
}

.resultsWrap > * {
    opacity: 0;
}

.resultsWrap.expanded {
    grid-template-rows: 1fr;
}

.resultsWrap.expanded > * {
    opacity: 1;
    padding: 0.5rem;
}
.resultsWrap.split {
    grid-template-columns: 1fr 1fr;
}
