.pluginWrap {
    display: flex;
    align-items: center;
    height: 41px;
    font-size: 0.8rem !important;
    margin: 0 1rem;
}

.toggleButton {
    background-color: var(--grayLight);
    border: 1px solid var(--grayMedium);
    color: var(--textSubtleLight);
    border-radius: 6px;
    display: flex;
    align-items: center;
    gap: 0.5em;
    transition: 0.1s ease-in-out;
    user-select: none;
    padding: 2px 0.3rem 2px 0.5rem;
}

.toggleButton:hover {
    background-color: var(--grayLighter);
    color: var(--textOnWhite);
}

.buttonIcon {
    background-color: var(--grayMedium);
    border-radius: 3px;
    color: var(--textOnGray);
    font-size: 80%;
    padding: 1px 4px;
}
