.commandBarFooter {
    border-top: 1px solid var(--color-border);
    background-color: var(--footer-background);
    padding: 0.8rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    user-select: none;
}

.breadcrumb {
    display: flex;
    gap: 1rem;
    --icon-size: 0.875em;
}

.activity {
    display: flex;
    gap: 1rem;
    --icon-size: 0.875em;
}

.activity svg {
    animation-name: spinner;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transform-origin: 50% 50%;
    display: inline-block;
}
@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
