.commandBarFooter {
    border-top: 1px solid var(--color-border);
    background-color: var(--footer-background);
    padding: 0.8rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    user-select: none;
}

.breadcrumb {
    display: flex;
    gap: 1rem;
}

.activity {
    display: flex;
    gap: 1rem;
}

.madeWithLove {
    display: flex;
    text-decoration: none;
}

.madeWithLove small {
    transition: color 0.1s ease-in-out;
}

.madeWithLove:hover small {
    color: var(--color-light-text-hover);
}

.madeWithLove svg {
    display: inline-block;
    width: var(--icon-size);
    height: auto;
    margin-left: 0.5em;
}
