.searchBox {
    appearance: none;
    background: none;
    border: none;
    color: currentColor;
    font-size: 1.1em !important; /* Fix to prevent Neos.UI css from forcing the font size to 14px */
    font-weight: 300;
    outline: none;
    padding: 0.5rem;
    flex: 1;
}

.searchBox:disabled {
    color: var(--color-light-text);
    cursor: not-allowed;
}

.expandButton {
    position: absolute;
    padding: 0 1rem;
    height: 100%;
    right: 0;
    display: block;
    background: none;
    border: none;
    cursor: pointer;
}

.expandButton svg {
    color: var(--grayLighter);
    transition: color 0.1s ease-in-out;
}

.expandButton:hover svg {
    color: var(--primaryBlue);
}

.executeButton {
    position: absolute;
    padding: 0 1rem;
    height: 100%;
    right: 0;
    display: block;
    background: none;
    border: none;
    cursor: pointer;
}

.executeButton {
    color: var(--grayLighter);
    transition: color 0.1s ease-in-out;
}

.executeButton:hover svg {
    color: var(--primaryBlue);
}

.commandQueryDirty {
    color: var(--warn);
}
