Neos:
  Neos:
    Ui:
      resources:
        javascript:
          Shel.Neos.CommandBar:CommandBar:
            # Load early as the plugin provides a new registry for other plugins to use
            position: 'after Neos.Neos.UI:Host'
            resource: resource://Shel.Neos.CommandBar/Public/Plugin.js
        stylesheets:
          Shel.Neos.CommandBar:CommandBar:
            resource: resource://Shel.Neos.CommandBar/Public/Plugin.css

      frontendConfiguration:
        'Shel.Neos.CommandBar:CommandBar':
          enabled: true
          hotkeys:
            filter:
              # Hide the command bar hotkeys
              - 'Shel.Neos.CommandBar.toggle.CMD'
              - 'Shel.Neos.CommandBar.toggle.CTRL'
              # Hide Neos hotkeys which are not relevant in the command bar
              - 'UI.AddNodeModal.close'
              - 'UI.InsertionModeModal.cancel'
              - 'UI.InsertionModeModal.apply'
              - 'UI.Inspector.escape'
              - 'UI.Inspector.resume'
              - 'UI.NodeCreationDialog.back'
              - 'UI.NodeCreationDialog.apply'
              - 'UI.NodeCreationDialog.cancel'
              - 'UI.NodeVariantCreationDialog.cancel'
              - 'UI.NodeVariantCreationDialog.createEmpty'
              - 'UI.NodeVariantCreationDialog.createAndCopy'
              - 'CR.Nodes.unfocus'
        hotkeys:
          # MacOS
          'Shel.Neos.CommandBar.toggle.CMD': 'command+k'
          # Linux & Windows
          'Shel.Neos.CommandBar.toggle.CTRL': 'ctrl+k'

    modules:
      administration:
        submodules:
          users:
            additionalResources: &commandBarIncludes
              javaScripts:
                Shel.Neos.CommandBar: 'resource://Shel.Neos.CommandBar/Public/Module.js'
              styleSheets:
                Shel.Neos.CommandBar: 'resource://Shel.Neos.CommandBar/Public/Module.css'
          packages:
            additionalResources: *commandBarIncludes
          sites:
            additionalResources: *commandBarIncludes
          configuration:
            additionalResources: *commandBarIncludes
          dimensions:
            additionalResources: *commandBarIncludes
      management:
        submodules:
          workspaces:
            additionalResources: *commandBarIncludes
          history:
            additionalResources: *commandBarIncludes
          # FIXME: The redirects module doesn't let us extend the includes properly and doesn't use the Lite stylesheet
#          redirects:
#            additionalResources: *commandBarIncludes
      user:
        submodules:
          usersettings:
            additionalResources: *commandBarIncludes
