.iconWrap {
    width: var(--icon-size);
    max-height: var(--icon-size);
    display: inline-block;
    text-align: center;
}

.iconWrap svg {
    max-width: 100%;
    max-height: inherit;
    display: inline-block;
}
